html,
body {
  font-family: "Gantari", sans-serif;
}
.collection-4 .box-center {
  justify-content: flex-end;
  padding-bottom: 25px;
  z-index: 2;
}
.colored {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#logo {
  height: 55px;
}
.element .desktop-link {
  font-size: 16px;
  line-height: 1.8;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
}
.header-v1 .header-center {
  border: none;
}
a {
  color: #176030;
}
.collection-element:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.569362779291404) 100%
  );
}
.slide.v5 .content4 .tag-title {
  background-color: #df4498;
}
.ribbon.zoa-hot {
  background: #d84696;
}
.ribbon.zoa-sale {
  background: #f9f584;
}
.ribbon.zoa-new {
  background: #176030;
}
.ribbon span {
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  line-height: 1.8;
  display: inherit;
}
.product-title a:hover,
a:hover {
  color: #176030;
}
.product-info .product-title {
  font-size: 16px;
  letter-spacing: 0.5px;
}
.slide.v3 .slick-dots:after,
.slide.v6 .slick-dots:after,
.slide.v5 .slick-dots:after {
  display: none;
}
.contact-element p {
  font-size: 16px;
  letter-spacing: 0.5px;
  opacity: 0.8;
}
.contact-element p a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.d-flex {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.footer.v2 {
  padding: 20px 0;
}
.newsletter .social {
  margin-top: 25px;
}
.newsletter .social a {
  font-size: 20px;
  margin-right: 20px;
  opacity: 0.8;
}
.zoa-btn:hover {
  background-color: #176030;
}
.slide.v5 .content4 {
  padding-left: 5%;
}
.breadcrumb {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.breadcrumb li {
  margin-right: 6px;
  display: inline-flex;
  align-items: center;
}
.breadcrumb li i,
.breadcrumb li a i {
  margin-bottom: -2px;
  display: inline-block;
}
.breadcrumb .active {
  display: inline-flex;
  align-items: center;
  margin-bottom: -2px;
}
.slider-nav {
  float: left;
  width: 16%;
}
.slider-nav .slick-slide {
  margin-right: 5px;
  border: 2px solid transparent;
  opacity: 0.5;
}
.slider-nav .slick-current {
  border: 2px solid #090809;
  opacity: 1;
}

.slider-for {
  float: left;
  width: 84%;
}

.rec-slider-item {
  margin: 0 5px;
}

.single-product-detail .single-product-info .product-tags {
  padding-top: 13px;
  border-top: 1px solid #eee;
}
.zoa-addcart {
  background-color: #176030;
}
.zoa-addcart:hover {
  background-color: #090809;
}
.product-img .is-brand-logo {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 25px;
  z-index: 0;
}
.zoa-collection-2 .collection-tags a {
  color: #176030;
}
.zoa-collection-2 .collection-tags a:hover {
  color: #000;
}
.zoa-collection-2 .content h3 {
  text-transform: capitalize;
}
.shop-heading {
  padding-top: 120px;
}
.previous-arrow img {
  transform: rotate(180deg);
}
.slider-nav {
  text-align: center;
}
.arrows img {
  width: 48px;
  margin: 0 auto;
}
.slick-slide .zoa-addcart {
  width: auto;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
}
.zoa-collection-2 .content .no-width {
  width: fit-content;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 0;
  height: 35px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0 auto;
}
.zoa-collection-2 .content a:before {
  display: none;
}
.widget-filter.filter-cate ul li a.active {
  color: #176030;
}
.widget-filter.filter-cate ul li a.active:before {
  background-color: #176030;
  border-color: #176030;
}
.widget-filter.filter-cate ul li a:hover,
.shop-heading h1 {
  color: #176030;
}
.select-color:checked ~ span {
  display: inline-block;
}
.select-color:checked ~ span:before {
  position: absolute;
  content: "";
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  border: 1px solid #d84696;
  border-radius: 50%;
}
.single-product-detail .single-product-info .color-group .color-label {
  display: inline-block;
}
.single-product-detail .single-product-info .color-group .size-label {
  display: inline-block;
}
.single-product-detail .single-product-info .color-group .size-label .circle {
  display: inline-block;
  border: 1px solid #eaeaea;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a1a1a;
}
.select-size:checked ~ .circle {
  border: 1px solid #d84696 !important;
}

.product-social .social a {
  font-size: 32px;
  margin-right: 20px;
}
.product-social .social span {
  font-size: 18px;
  font-weight: 600;
  display: block;
}

#fixed-social {
  position: fixed;
  bottom: 60px;
  z-index: 999999;
}

#fixed-social a {
  color: #fff;
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
  line-height: 40px;
  width: 40px;
  margin-bottom: 1px;
  z-index: 2;
}
#fixed-social a:hover > span {
  visibility: visible;
  left: 41px;
  opacity: 1;
}
#fixed-social a span {
  line-height: 40px;
  left: 60px;
  position: absolute;
  text-align: center;
  width: 200px;
  visibility: hidden;
  transition-duration: 0.5s;
  z-index: 1;
  opacity: 0;
}
.fixed-call {
  background-color: #4267b2;
}
.fixed-email {
  background-color: #1da1f2;
}
.fixed-whatsapp {
  background: #25d366;
}
.fixed-call span {
  background-color: #4267b2;
}
.fixed-email span {
  background-color: #1da1f2;
}
.fixed-whatsapp span {
  background: #25d366;
}

@media (min-width: 1400px) {
  .collection-4 .content h3 {
    font-size: 2.5rem;
    line-height: 1;
    color: #fff;
  }
  .collection-4 .content h3 a {
    color: #fff;
    text-transform: capitalize;
  }
  .collection-4 .content.style2 {
    padding-left: 50px;
    padding-bottom: 25px;
  }
  .trend-product.pad {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .zoa-product.pad6 {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .header-top-absolute {
    position: fixed;
  }
}
@media (min-width: 480px) {
  .single-product-detail .single-product-info .short-desc {
    margin-bottom: 15px;
    margin-top: 20px;
  }
}
@media (min-width: 1025px) {
  .zoa-collection-2.pad {
    padding-top: 90px;
  }
  .newsletter.v3,
  .newsletter.slide.v6,
  .newsletter.slide.v5 {
    padding: 120px 0 30px 0;
  }
  .single-product-detail {
    padding-bottom: 25px;
  }
}
@media (min-width: 1024px) {
  .newsletter.v3 .newsletter-heading,
  .newsletter.slide.v6 .newsletter-heading,
  .newsletter.slide.v5 .newsletter-heading {
    margin-bottom: 25px;
  }
}
.trend-product .first .zoa-category-box-title {
  font-size: 18px;
  padding: 20px 24px;
}

@media only screen and (max-width: 1024px) {
  .element .desktop-link {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .clearfix-md {
    display: none;
  }
}
@media (max-width: 480px) {
  .product-item,
  .contact-form .contact-item {
    width: 50%;
    min-height: 315px;
  }
  .zoa-product.pad6 {
    padding-top: 20px;
  }
  .zoa-instagram [class*="col-xs"] {
    width: 25%;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .zoa-instagram .insta-content {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .newsletter.v3 .newsletter-flex,
  .newsletter.slide.v6 .newsletter-flex,
  .newsletter.slide.v5 .newsletter-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .newsletter-heading,
  .newsletter-heading p,
  .contact-element,
  .social {
    text-align: center;
  }
  #logo {
    height: auto;
  }
  .element {
    padding: 0 5px;
  }
  .trend-product.pad {
    padding-bottom: 0;
  }
  .trend-product .first > [class*="col-xs-"] {
    margin-bottom: 0;
  }
  .product-item,
  .contact-form .contact-item {
    margin-bottom: 10px;
  }
  .shop-heading {
    padding-top: 29px;
  }
  .shop-title {
    display: none;
  }
  .shop-top .shop-element.left > ul > li > a,
  .shop-bottom .shop-element.left > ul > li > a {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .shop-top .shop-element.left > ul > li > a span {
    margin-left: 25px;
  }
  .newsletter.v3 .newsletter-element h3,
  .newsletter.slide.v6 .newsletter-element h3,
  .newsletter.slide.v5 .newsletter-element h3 {
    margin-bottom: 16px;
    margin-top: 32px;
  }
  .contact-element p a,
  .newsletter-heading h3 {
    justify-content: center;
  }
  .newsletter {
    padding: 50px 0 0 0;
  }
}

@media only screen and (max-width: 400px) {
  .product-item,
  .contact-form .contact-item {
    width: 50%;
    min-height: 290px;
  }
  .owl-item .product-item {
    width: 100%;
  }
  .product-related .owl-nav > div {
    display: block;
    width: 25px;
    height: 25px;
    line-height: 19px;
    text-align: center;
  }
}
