.zoa-cart th {
    width: auto;
}

.breadcrumb-container {
    display: block;
    /* padding: 0 4%; */
    padding-top: 80px;
}

.zoa-cart {
    padding: 20px 0;
}

.zoa-cart .account-tab {
    margin-bottom: 25px;
}

.zoa-cart .product-size, .zoa-cart .product-color {
    color: #999;
}

.zoa-cart .breaker {
    margin-left: 8px;
}

/* .breadcrumb-bg {
    background-color: #eaeaea;
} */
.breadcrumb {
    padding-top: 10px;
    padding-bottom: 10px;
}

.shopping-cart .cart-table .item_cart .cart-qtt button {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
    background: #f8f5f5;
    padding: 0;
}

.shopping-cart .cart-table .cart-qtt .quantity-left-minus {
    margin-right: -4px;
}
.shopping-cart .cart-table .cart-qtt .quantity-right-plus {
    margin-left: -4px;
}

.check-out .titlell h2 {
    text-align: left;
}

.checkout-order .total {
    justify-content: space-between;
}

.checkout-order .total .prince {
    padding-left: 30px;
}
.checkout-order .content-radio {
    display: block;
    padding-bottom: 10px;
}

.checkout-order span#prince2, .checkout-order span#prince1 {
    padding-left: 50px;
}

.delivery-inside, .delivery-outside {
    display: flex;
    justify-content: space-between;
}

.checkout-order .content-radio .radio {
    margin-left: 0;
}

.checkout-order .total {
    padding-bottom: 10px;
}

.checkout-order input.so2 {
    margin: 10px 0;
}
.check-out .titlell h2 {
    padding-bottom: 15px;
}

.payment {
    background-color: #fafafa;
    padding: 20px;
    padding-bottom: 0;
}

.checkout-order .content-order {
    padding: 15px 20px;
}

.checkout-order hr {
    margin: 10px 0;
}

.checkout-order .payment p {
    padding-top: 10px;
}

.shopping-cart .cart-btn-group a.btn-continue {
    padding-bottom: 18px;
}

.shopping-cart .cart-btn-group a.btn-continue:hover {
    color: #fff;
}
.shopping-cart .cart-btn-group a.btn-clear {
    color: #fff;
}
.shopping-cart .cart-btn-group {
    margin-bottom: 0;
}


.checkout-order .form_coupon input {
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    background: #f9f9f9;
    padding-right: 105px;
}

.shopping-cart .cart-table thead > tr > th {
    color: #000;
    font-weight: 700;
    padding-left: 15px !important;
}

.checkout-order .form_coupon {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.shopping-cart .cart-table .item_cart .product-name {
    width: 12%;
}

.shopping-cart .cart-table .item_cart .product-desc {
    width: 42%;
}

.checkout-order .coupon-group button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 10px;
}

.shopping-cart .table > tbody > tr > td, .shopping-cart .table > tbody > tr > th {
    padding: 30px 15px;
} 

.account-tab li.active a:after {
    display: none;
}


.shopping-cart .table-cart-bottom .cart-btn-group .zoa-checkout {
    padding: 18px 55px;
}

.shopping-cart .cart-table thead > tr > th {
    font-size: 15px;
}


@media only screen and (max-width: 1300px) {
    .breadcrumb-container {
        padding: 0;
    }
}


@media only screen and (max-width: 992px) {
    .shopping-cart .cart-table .item_cart .product-desc {
        width: 28%;
    }
    .shopping-cart .cart-table .item_cart .product-name {
        width: 118px;
    }

    .small-margin {
        margin-bottom: 10px;
    }

    .shopping-cart .cart-table .item_cart .product-same {
        width: 105px;
    }

    .shopping-cart .cart-table .item_cart .product-desc {
        width: 25%;
    }

}



@media only screen and (max-width: 600px) {
    .checkout-order .content-order {
        padding: 15px;
    }

    .shopping-cart .cart-table thead > tr > th {
        font-size: 14px;
        padding: 15px 8px;
    }

    .shopping-cart .table-cart-bottom {
        padding-top: 15px;
    }

    .zoa-cart .account-tab li {
        text-align: left;
    }

    .shopping-cart .cart-btn-group {
        margin-bottom: 30px;
    }

}