hr {
    border-top: 1px solid rgb(225, 232, 237);
}

.note-editor.note-frame {
    border-color: #e1e8ed;
    background: transparent;
}

.note-editor.note-frame .note-editing-area .note-editable {
    background: transparent;
    color: #a5a8ad;
}

.note-editor.note-frame .note-statusbar {
    background-color: transparent;
}

.panel-heading {
    position: relative;
    top: 0px;
    width: 100%;
}

.dd3-content {
    display: block;
    margin-bottom: 14px;
    padding: 16px 12px 16px 40px;
    text-decoration: none;
    /* border: 1px solid #d6d2d2; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f1f4f6;
    cursor: default;
    font-size: 14px;
    color: #77797c;
}

.dd3-handle {
    top: 8px;
}

.dd3-item > button {
    margin-top: 15px;
}

.dd3-content span.content-right {
    float: right;
    margin-top: -5px;
}

.theme-cyan .sidebar-nav .metismenu > li ul .active a {
    color: #393d42;
    font-weight: 100;
}

i.fd {
    font-size: 20px;
}

.mymetismenu > li ul .active a {
    padding-left: 190px;
}

.metismenu ul ul ul a {
    padding: 10px 15px 10px 90px;
}
.light_version .table tr td, .light_version .table tr th {
    border-color: #e1e8ed;
    background: #fff;
}

.gallery-card{
    border: 10px solid #fff;
    /*border-bottom: 45px solid #fff;*/
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}

.gallery-hover{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: unset !important;
    background: rgba(0, 0, 0, 0.8) !important;
    display: none;
}

.gallery-card:hover .gallery-hover{
    display: block;
    -webkit-animation: fadeInUp 400ms;
    animation: fadeInUp 400ms;
}
a:not([href]):not([tabindex]){
    color: #dc3545;
}
.s_detail h4 small{
    display:block;
    margin:0;
    font-size:40%;
    font-weight:bold;
}
@media only screen and (min-width:1025px){
    #dashboard-main-table{
        height:360px;
    }
}